@(data: String)
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Flot Examples: Visitors</title>
        <link href="/assets/flot/examples/examples.css" rel="stylesheet" type="text/css">
        <script language="javascript" type="text/javascript" src="/assets/flot/jquery.js"></script>
        <script language="javascript" type="text/javascript" src="/assets/flot/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="/assets/flot/jquery.flot.time.js"></script>
        <script language="javascript" type="text/javascript" src="/assets/flot/jquery.flot.selection.js"></script>
        <script type="text/javascript">

	$(function() {

            function onDataReceived(data) {
                var options = {
                xaxis: {
                mode: "time"
                //tickLength: 5
                },
                selection: {
                mode: "x"
                },
                grid: {
                markings: weekendAreas
                }
                };

                $("#data-count").text(data.length + " data points");
                var plot = $.plot("#placeholder", [data], options);

            }
            $.ajax({
                url: "@data",
                type: "GET",
                dataType: "json",
                success: onDataReceived
            });

            // helper for returning the weekends in a period
            function weekendAreas(axes) {
                var markings = [],
                d = new Date(axes.xaxis.min);
                // go to the first Saturday
                d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
                d.setUTCSeconds(0);
                d.setUTCMinutes(0);
                d.setUTCHours(0);
                var i = d.getTime();
                // when we don't set yaxis, the rectangle automatically
                // extends to infinity upwards and downwards
                do {
                    markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
                    i += 7 * 24 * 60 * 60 * 1000;
                } while (i < axes.xaxis.max);
                return markings;
            }


            });

	</script>
    </head>
    <body>

        <div id="header">
            <h2>Visitors</h2>
        </div>

        <div id="content">

            <div class="demo-container">
                <div id="placeholder" class="demo-placeholder"></div>
            </div>

            <a href="?data=original.json">original</a>
            <a href="?data=sampled.json">sampled</a>
            <a href="?data=averaged.json">averaged</a>
            <a href="?data=modemedianbucket.json">modemedianbucket</a>

            <p id="data-count"></p>
        </div>

        <div id="footer">
		Copyright &copy; 2007 - 2013 IOLA and Ole Laursen
	</div>

    </body>
</html>
